.meeting-rooms {
    width: 70%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h1 {
        width: 100%;
        text-align: left;
    }
}