.single-booking {
    width: 70%;
    margin: auto;
    text-align: left;

    h2 {
        font-size: 1.8em;
    }
    p {
        font-size: 1.2em;
    }
    button {
        margin-top: 40px;
    }
}