@import '../../design_utils/colors';


.meeting-form {

    margin-bottom: 40px;
    
    li {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        list-style: none;
        margin-bottom: 30px;
        font-size: 1.2em;
    }
    label {
        text-align: left;
        grid-column: 1/2;
    }
    input {
        grid-column: 2/4;
        border: 2px solid ;
        border-radius: 5px;
    }
    button {
        margin: 40px 0;
    }

    &__border-div {
        border: 2px solid $neon-blue;
        border-radius: 5px;
    }
}